<div class="eqLogic eqLogic-widget allowResize #class#" data-eqType="#eqType#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" style="width:#width#;height:#height#;">

  <div class="text-center widget-name">
    <span class="warning" title="#alert_name#">
      <i class='#alert_icon#'></i>
    </span>
    <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
      <i class="fas fa-sync" style="color:var(--eqTitle-color)!important;"></i>
    </span>
    <span class="reportModeVisible">#name_display# <span class="object_name">#object_name#</span></span>
    <a href="#eqLink#" class="reportModeHidden" style="color:var(--eqTitle-color)!important;">#name_display# <span class="object_name">#object_name#</span></a>
  </div>

  <div class="text-center" style="padding-top:10px;">
    <span class="label #online_label#" style="font-size:1em;padding:4px 10px;">#online_text#</span>
  </div>

  <div class="text-center" style="padding-top:10px;font-size:0.85em;">
    <i class="fas fa-clock"></i> {{Dernier message}} : #last_seen#
  </div>

  <div class="text-center" style="padding-top:4px;font-size:0.85em;">
    <i class="fas fa-network-wired"></i> #ip_address#
  </div>

  <div class="text-center" style="padding-top:4px;font-size:0.85em;">
    <i class="fas fa-microchip"></i> #nb_devices_online# / #nb_devices# {{objets en ligne}}
  </div>

</div>
